.septum{

  background-color: #333;
  border: 0;
  opacity: .11;
  border-radius: 2px;

  &_vertical{
    width: 2px;
    display: inline-block;
    margin: 0 1em;
  }
  &_horisontal{
    height: 2px;
    margin: 1em 0;
  }
}