@import '../../style/variables';

.reset-password{
  &__wrapper{

  }
  &__bg{
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: -1;

    img {
      min-width: 80vw;
      margin: 0;
      padding: 0;
    }
  }
  &__submit{
    margin: $paddingVeryBig 0;
  }
}